@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-century-gothic-regular: 'Century Gothic Regular', Arial, sans-serif;
  --font-century-gothic-bold: 'Century Gothic Bold', Arial, sans-serif;
  --font-monument-extended-regular: 'Monument Extended Regular', Arial, sans-serif;
  --font-monument-extended-black: 'Monument Extended Black', Arial, sans-serif;
  --font-calcio: 'Calcio', Arial, sans-serif;
  --font-nos: 'nos', Arial, sans-serif;
  --font-integralcf-reqular-oblique: 'IntegralCF Reqular Oblique', Arial, sans-serif;
}

@font-face {
  font-family: 'nos';
  src: url(/fonts/nos.ttf) format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'IntegralCF Reqular Oblique';
  src: url(/fonts/IntegralCF-RegularOblique.otf) format('opentype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic Regular';
  src: url(/fonts/CenturyGothicPaneuropeanRegular.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Century Gothic Bold';
  src: url(/fonts/CenturyGothicPaneuropeanBold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Extended Regular';
  src: url(/fonts/MonumentExtended-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Extended Black';
  src: url(/fonts/MonumentExtended-Black.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calcio';
  src: url(/fonts/Calcio.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: clip;
  max-width: 100vw;
}

html {
  scroll-behavior: smooth;
  overflow-x: clip;
  max-width: 100vw;
}

@keyframes fadeRevealIn {
  from {
    opacity: 0;
    transform: scale(0.95);
    filter: blur(4px);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

@keyframes fadeRevealIntro{
  from {
    opacity: 0;
    transform: scale(0.95);
    filter: blur(4px);
    -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 0%);
    mask-image: linear-gradient(to bottom, black 0%, transparent 0%);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
    -webkit-mask-image: linear-gradient(to bottom, black 100%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 100%, transparent 100%);
  }
}

@keyframes fadeRevealOut {
  from {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
    filter: blur(4px);
  }
}

.fade-reveal-in {
  animation: fadeRevealIn 0.5s ease-out forwards;
}

.fade-reveal-out {
  animation: fadeRevealOut 0.5s ease-in forwards;
}

.fade-reveal-in-delayed {
  animation: fadeRevealIn 0.5s ease-out 0.3s forwards;
  opacity: 0;
}

.fade-reveal-out-fast {
  animation: fadeRevealOut 0.3s ease-in forwards;
}

.fade-reveal-load {
  animation: fadeRevealIntro 5s ease-in forwards;
}